.containerabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
  background-color: honeydew;
}
.containerabout .leftpara1 {
  height: 380px;
  font-size: 20px;
  font-family: Baskerville-Regular;
  margin-top: 10px;
  width: 900px;
}
.containerabout .leftpara1 .titleofpara1 {
  font-size: 30px;
  color: brown;
}
@font-face {
  font-family: Baskerville-Italic;
  src: url(../fonts/Baskervville/Baskervville-Italic.ttf);
}
@font-face {
  font-family: Baskerville-Regular;
  src: url(../fonts/Baskervville/Baskervville-Regular.ttf);
}
.containerabout .rightimage1 .Breakfast {
  background-image: url(../images/Breakfast.jpg);
  width: 350px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}